table {
  margin: 5px auto ;
  width: 90%;
  table-layout: fixed;
  font-size: 16px;
}

#table {
  border: solid;
  height: 250px;
  margin: 15px;
  border-radius: 5px;
  overflow: scroll;
  background-color: white;
}

th {
  height: 20px;
  border-bottom: solid;
}

tbody tr:nth-child(odd) {
  background-color: #eaedf2;
}

td {
  height: 15px;
}

.number {
  width: 20px;
}

h1 {
  text-align: center;
}

#main {
  border: solid;
  border-radius: 10px;
  margin: 40px;
  padding-bottom: 20px;
  background-color: #eaedf2;
}

.delete {
  color: #d16464
}

.vote {
  border: solid;
  border-radius: 5px;
  width: 150px;
  height: auto;
  margin-left: 110px;
  float: left;
  background-color: white;
}

.directions {
  margin-left: 112px;
  margin-top: -14px;
}

.vote-button-box {
  text-align: center;
}

#vote {
  margin-left: 100px;
}

#manage {
  border: solid;
  border-radius: 5px;
  width: 550px;
  height: auto;
  display: inline-block;
  margin-left: 200px;
  background-color: white;
  overflow-y: auto;
}

#manage-candidates {
  position: absolute;
  margin-top: -36px;
  margin-left: 630px;
}

#add-candidate {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  margin-top: -10px;
}

.add-button {
  border: 1px solid;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 2px;
}

#candidate-list {
  display: inline-block;
  margin-left: 200px;
}
